<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
        <title>Undivine</title>

        <!-- Bootstrap Core CSS -->
        <link href="{{ url_for('static', filename='css/sidebar-bootstrap.css') }}" rel="stylesheet"/>

        <!-- Custom CSS -->
        <link href="{{ url_for('static', filename='css/simple-sidebar.css') }}" rel="stylesheet"/>
        <!--<link href="{{ url_for('static', filename='css/style-purple.css') }}" rel="stylesheet"/>-->
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
        <div id="wrapper">

        <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="{{ url_for('home') }}">
                            UNDIVINE
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('raids') }}">Progression</a>
                    </li>
                    <li>
                        <a href="{{ url_for('apps') }}">Applications</a>
                    </li>
                    <li>
                        <a href="{{ url_for('recruitment') }}">Recruitment</a>
                    </li>
                    <li>
                        <a href="{{ url_for('roster') }}">Roster</a>
                    </li>
                </ul>
            </div>
        {% block body %}{% endblock %}
        <!-- /#wrapper -->
        </div>
        <!-- jQuery -->
        <script src="{{ url_for('static', filename='js/jquery-1.11.1.js') }}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
        <!-- CUSTOM SCRIPTS -->
    </body>

</html>
