{% extends "admin_layout.html" %}
{% block body %}




<!-- /#sidebar-wrapper -->

<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>Raid name</th>
                        <th>Bosses</th>
                        <th>Normal</th>
                        <th>Heroic</th>
                        <th>Mythic</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for raid in raids %}
                    <tr>
                        <th>{{ raid[1] }}</th>
                        <td>{{ raid[2] }}</td>
                        <td>{{ raid[3] }}</td>
                        <td>{{ raid[4] }}</td>
                        <td>{{ raid[5] }}</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                    <form action="{{ url_for('add_raid') }}" method=post class=add-entry>
                        <tr>
                            <th scope="row">
                                <div class="form-group">
                                    <input class="form-control" name="raid" required placeholder="">
                                </div>
                            </th>

                            <td>
                                <div class="form-group">
                                    <input class="form-control" name="bosses" required placeholder="">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input class="form-control" name="normal" required placeholder="">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input class="form-control" name="heroic" required placeholder="">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input class="form-control" name="mythic" required placeholder="">
                                </div>
                            </td>
                            <td>
                                 <input type=submit value=ADD class=" btn button-custom btn-custom-two">
                            </td>
                        </tr>
                    </form>
                </tbody>
            </table>
        </div>
        <h2>Progression</h2>
        {% for raid in raids %}
        <h3>{{ raid[1] }}</h3>
        <h4>Normal</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="7" style="width:{{ (raid[3]/raid[2])*100 }}%">
                <span>{{ raid[3] }}/{{ raid[2] }}</span>
            </div>
        </div>
        <h4>Heroic</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="7" style="width:{{ (raid[4]/raid[2])*100 }}%">
                <span>{{ raid[4] }}/{{ raid[2] }}</span>
            </div>
        </div>
        <h4>Mythic</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="7" style="width:{{ (raid[5]/raid[2])*100 }}%">
                <span>{{ raid[5] }}/{{ raid[2] }}</span>
            </div>
        </div>
        <h3 style="padding-top: 40px"></h3>
        {% endfor %}
    </div>
</div>
<!-- /#page-content-wrapper -->


{% endblock %}
