{% extends "admin_layout.html" %}
{% block body %}




<!-- /#sidebar-wrapper -->

<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row" id="accordion" role="tablist" aria-multiselectable="true">
            {% for app in apps %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading{{ app[0] }}">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ app[0] }}" aria-expanded="false" aria-controls="collapse{{ app[0] }}">
                            {{ app[4] }}, {{ app[6] }}
                        </a>
                    </h4>
                </div>
                <div id="collapse{{ app[0] }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ app[0] }}">
                    <li><b>Name:</b> {{ app[1] }}
                    <li><b>Age:</b> {{ app[2] }}
                    <li><b>Nationality:</b> {{ app[3] }}
                    <li><b>BattleTag:</b> {{ app[4] }}
                    <li><b>Armory:</b> {{ app[5] }}
                    <li><b>Main/Offspec:</b> {{ app[6] }}
                    <li><b>How good are the specs on your PC and how reliable is your internet?</b> {{ app[7] }}
                    <li><b>Tell us about your raiding experiences and your past guilds and reason for leaving them:</b> {{ app[8] }}
                    <li><b>What resources do you use to analyze and improve yourself:</b> {{ app[9] }}
                    <li><b>Undivine is aiming to be one of the premier guilds on Twisting Nether. Why do you think you have what it takes to get there:</b> {{ app[10] }}
                    <li><b>Post a screenshot of your ui while in a raid and in combat:</b> {{ app[11] }}
                    <li><b>If you have some Warcraft logs we can see, please do link them here:</b> {{ app[12] }}
                    <li><b>Do you have a Microphone/Headset, and are you able and comfortable with talking during raids:</b> {{ app[13] }}
                    <li><b>We currently raid from 19:45 - 23:00 server time on Wednesday/Sunday/Monday, will you be able to consistently raid at these times:</b> {{ app[14] }}
                    <li><b>Do you have anything now or in the near future that will prevent you from attending the raids:</b> {{ app[15] }}
                    <li><b>Anything else you would like to tell us:</b> {{ app[16] }}
                    <li><b>Submitted:</b> {{ app[17] }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->


{% endblock %}
