{% extends "layout.html" %}
{% block body %}
<!--MENU SECTION START-->
<div class="navbar navbar-inverse navbar-fixed-top scroll-me" id="menu-section">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('home') }}"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('home') }}#home">HOME</a></li>
                <li><a href="{{ url_for('home') }}#grid">ABOUT US</a></li>
                <li><a href="{{ url_for('home') }}#gallery">GALLERY</a></li>
                <li><a href="{{ url_for('home') }}#team">TEAM</a></li>
                <li><a href="{{ url_for('home') }}#applying">APPLYING</a></li>
            </ul>
        </div>
    </div>
</div>
<!--MENU SECTION END-->
<section id="form">
    <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Application</h3>
                <hr>
            </div>
        </div>
        <form action="{{ url_for('add_app') }}" method=post class=add-entry>
            <div class="row animate-in" data-anim-type="fade-in-up">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label>BattleTag</label>
                        <input class="form-control" name="battletag" required placeholder="BattleTag#1234">
                    </div>
                    <div class="form-group">
                        <label>What is your previous experience in WoW and raiding?</label>
                        <textarea class="form-control" rows="5" name="experience" required placeholder="How long have you been raiding in WoW and what's your best raiding achievement."></textarea>
                    </div>
                    <div class="form-group">
                        <label>What classes/roles are you most familiar with and what are you looking forward to playing in Legion?</label>
                        <textarea class="form-control" rows="5" name="class" required placeholder="Also list how many and what alts you plan on having."></textarea>
                    </div>
                    <div class="form-group">
                        <label>What resources do you use to analyze and improve yourself?</label>
                        <textarea class="form-control" rows="5" name="improve" required
                                  placeholder="Where do you find the latest information about your class? How do you get your stat priorities? Do you use SimCraft? Logs? Do you set up proper weakauras/other addons to get the most out of your character?"></textarea>
                    </div>
                    <div class="form-group">
                        <label>What kind of attendance can we expect from you?</label>
                        <textarea class="form-control" rows="5" name="attendance" required
                                  placeholder="100% attendance is great, but real life comes in the way sometimes. Do you work weird hours or play tennis with your friends every 2nd Sunday evening of the month? Let us know."></textarea>
                    </div>
                    <div class="form-group">
                        <label>What is your gaming setup? How good are the specs on your PC and how reliable is your internet?</label>
                        <textarea class="form-control" rows="5" name="rig" required
                                  placeholder="Having 500ms or getting disconnected in the middle of the raid is not good. Could this happen to you?"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Personal information</label>
                        <textarea class="form-control" rows="5" name="personal" required
                                  placeholder="Tell us as much (or as little) about yourself as you want."></textarea>
                    </div>
                    <div class="text-center">
                        <label>All half-assed and non-serious applications will be rejected immediately!</label>
                        <p>
                            <input type=submit value=SUBMIT class=" btn button-custom btn-custom-two">
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
