{% extends "layout.html" %}
{% block body %}
<!--MENU SECTION START-->
<div class="navbar navbar-inverse navbar-fixed-top scroll-me" id="menu-section">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('home') }}"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('home') }}#home">HOME</a></li>
                <li><a href="{{ url_for('home') }}#grid">ABOUT US</a></li>
                <li><a href="{{ url_for('home') }}#gallery">GALLERY</a></li>
                <li><a href="{{ url_for('home') }}#team">TEAM</a></li>
                <li><a href="{{ url_for('home') }}#applying">APPLYING</a></li>
            </ul>
        </div>
    </div>
</div>
<!--MENU SECTION END-->
<section id="apps">
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-info">
            <strong>{{ message }}!</strong>
        </div>
        {% endfor %}
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Applications</h3>
                <hr/>
            </div>
        </div>
        <div class="row text-center animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pad-bottom">
                <div class="categories">
                    <a href="#" data-filter=".0" class="active btn btn-custom btn-custom-two btn-sm">NEW</a>
                    <a href="#" data-filter="*" class="btn btn-custom btn-custom-two btn-sm">ALL</a>
                </div>
            </div>
        </div>

        <div class="animate-in" data-anim-type="fade-in-up" id="accordion" role="tablist" aria-multiselectable="true">
            {% for app in apps %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading{{ app.id }}">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ app.id }}" aria-expanded="false" aria-controls="collapse{{ app.id }}">
                            {{ app.battletag }}
                        </a>
                    </h4>
                </div>
                <div id="collapse{{ app.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ app.id }}">
                    <li><b>Experience:</b> {{ app.experience }}
                    <li><b>Class:</b> {{ app.class }}
                    <li><b>Improve:</b> {{ app.improve }}
                    <li><b>Attendance:</b> {{ app.attendance }}
                    <li><b>Rig:</b> {{ app.rig }}
                    <li><b>Rig:</b> {{ app.personal }}
                    <li><b>Datetime:</b> {{ app.datetime }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
