{% extends "layout.html" %}
{% block body %}
<!--HOME SECTION START-->
<!--BODY SECTION-->
<!--MENU SECTION START-->
<div class="navbar navbar-inverse navbar-fixed-top scroll-me" id="menu-section">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('home') }}"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#home">HOME</a></li>
                <li><a href="#grid">ABOUT US</a></li>
                <li><a href="#gallery">GALLERY</a></li>
                <li><a href="#team">TEAM</a></li>
                <li><a href="#applying">APPLYING</a></li>
            </ul>
        </div>
    </div>
</div>
<!--MENU SECTION END-->
<div id="home">
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-info">
            <strong>{{ message }}!</strong>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
                <div id="carousel-slider" data-ride="carousel" class="carousel slide  animate-in" data-anim-type="fade-in-up">

                    <div class="carousel-inner">
                        <div class="item active">
                            <h3>
                 U N D I V I N E
                            </h3>
                            <p>
                 Twisting Nether
                            </p>
                            <p>
                                .
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <div class="row pad-bottom animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                <h2>About us</h2>
                <p>
                    We are a semi-hardcore raiding guild that raids 3 nights a week and also maintains a casual raid team, totalling 5 raids a week.
                    We have a strong core from Draenor and are looking to build on that.
                </p>
                <p>
                    We are located on the Twisting Nether (EU)
                </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h2>Progression</h2>
                <h3>The Emerald Nightmare</h3>
                <h4>Normal</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="7" style="width:{{ (0/7)*100 }}%">
                        <span>0/7</span>
                    </div>
                </div>
                <h4>Heroic</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="7" style="width:{{ (0/7)*100 }}%">
                        <span>0/7</span>
                    </div>
                </div>
                <h4>Mythic</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="7" style="width:{{ (0/7)*100 }}%">
                        <span>0/7</span>
                    </div>
                </div>
            </div>
        <div class="row animate-in" data-anim-type="fade-in-up">
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2 scroll-me">
                <p>
                </p>
                <div class="social">
                    <a href="https://www.facebook.com/groups/ImperfectionFrostwhisper/" class="btn button-custom btn-custom-one"><i class="fa fa-facebook "></i></a>
                    <a href="#" class="btn button-custom btn-custom-one"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.twitch.tv/canemy" class="btn button-custom btn-custom-one"><i class="fa fa-twitch "></i></a>
                    <a href="https://www.youtube.com/channel/UCDo65q5BImY94cQTBucEe6g" class="btn button-custom btn-custom-one"><i class="fa fa-youtube-play "></i></a>
                </div>
                <a class="btn button-custom btn-custom-two" href="#applying">JOIN US</a>
            </div>
        </div>
    </div>

</div>
<!--HOME SECTION END-->
<!--GRID SECTION START-->
<section id="grid">
    <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>About us</h3>
                <hr/>
            </div>
        </div>
        <div class="row pad-bottom animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                <h2>About us</h2>
                <p>
                    Undivine is a guild formed by people with several Cutting Edge achievements and ex-hardcore experience. 
                    Undivine is looking for dedicated players to strengthen its core. We are especially interested in people that are mature and have a considerable raiding experience. 
                    </p>
                <p>
                    For us, what matters is the player! Although, getting a spot is not easy, and keeping it will be even harder, but if you can dig deep and bring your A game, you will be part of a great team.
                    </p>
                <p>
                    Outside of raiding we strive to offer a fun, friendly sometimes mature environment for players to enjoy themselves. 
                    </p>
                <p>
                    Undivine's goal is to assemble the best team of players for raiding, capable of maximising their characters to push into the top 600 guilds worldwide. Whilst we raid for fun, we also strive to kill current tier bosses as quickly and as efficiently as possible. We want to become one of the premier guilds on Twisting Nether. A guild where it’s members are part of a family, with a healthy positive environment. 
                </p>
                <p>
                    We are located on the Twisting Nether (EU)
                </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h2>Progression</h2>
                <h3>The Emerald Nightmare</h3>
                <h4>Normal</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="7" style="width:{{ (7/7)*100 }}%">
                        <span>7/7</span>
                    </div>
                </div>
                <h4>Heroic</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="7" style="width:{{ (7/7)*100 }}%">
                        <span>7/7</span>
                    </div>
                </div>
                <h4>Mythic</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="7" style="width:{{ (0/7)*100 }}%">
                        <span>0/7</span>
                    </div>
                </div>
                <a href="http://wowprogress.com/"><img alt="WoW Guild Rankings" src="http://wowprogress.com/guild_img/1359323/out/type.site" border="0"/></a>
            </div>
        </div>
    </div>
</section>
<!--GRID SECTION END-->
<!--&lt;!&ndash;GALLERY SECTION START&ndash;&gt;-->
<!--<section id="gallery">-->
    <!--<div class="container">-->
        <!--<div class="row text-center header animate-in" data-anim-type="fade-in-up">-->
            <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
                <!--<h3>Gallery</h3>-->
                <!--<hr/>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row text-center animate-in" data-anim-type="fade-in-up">-->
            <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pad-bottom">-->
                <!--<div class="categories">-->
                    <!--<a href="#" data-filter="*" class="active btn btn-custom btn-custom-two btn-sm">All</a>-->
                    <!--<a href="#" data-filter=".ten" class="btn btn-custom btn-custom-two btn-sm">The Emerald Nightmare </a>-->
                    <!--<a href="#" data-filter=".gps" class="btn btn-custom btn-custom-two btn-sm">The Grand Palace of Suramar</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="row text-center animate-in" data-anim-type="fade-in-up" id="gallery-div">-->
            <!--<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">-->
                <!--<div class="gallery-wrapper">-->

                    <!--<a class="fancybox-media" title="Minutes before Legion launch" href="static/img/kills/launch.jpg">-->
                        <!--<img src="static/img/kills/launch.jpg" class="img-responsive img-rounded" alt=""/>-->
                    <!--</a>-->

                    <!--<h4>Launch event</h4>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

<!--</section>-->
<!--&lt;!&ndash;KILLS SECTION END&ndash;&gt;-->
<!--TEAM SECTION START-->
<section id="team">
    <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Team Members</h3>
                <hr/>
            </div>
        </div>
        <div class="row animate-in" data-anim-type="fade-in-up">

            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="team-wrapper">
                    <div class="team-inner" style="background-image: url('../static/img/team/khan.jpg')">
                        <a href="http://eu.battle.net/wow/en/character/twisting-nether/Kh%C3%A3ntos/simple" target="_blank"> <i class="wow wow-wow"></i></a>
                    </div>
                    <div class="description">
                        <h3>Khãntos</h3>
                        <h5><strong>Guild Master</strong></h5>
                        <p>
                            Death Knight
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="team-wrapper">
                    <div class="team-inner" style="background-image: url('../static/img/team/emmzy.jpg')">
                        <a href="http://eu.battle.net/wow/en/character/twisting-nether/Emmzy/simple" target="_blank"> <i class="wow wow-wow"></i></a>
                    </div>
                    <div class="description">
                        <h3>Emmzy</h3>
                        <h5><strong>Officer</strong></h5>
                        <p>
                            Paladin
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="team-wrapper">
                    <div class="team-inner" style="background-image: url('../static/img/team/hyphyp.jpg')">
                        <a href="http://eu.battle.net/wow/en/character/twisting-nether/Hyphyp/simple" target="_blank"> <i class="wow wow-wow"></i></a>
                    </div>
                    <div class="description">
                        <h3>Hyphyp</h3>
                        <h5><strong>Officer</strong></h5>
                        <p>
                            Priest
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--TEAM SECTION END-->
<!--SERVICE SECTION START-->
<section id="applying">
    <div class="container">
        <div class="row text-center header">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animate-in" data-anim-type="fade-in-up">
                <h3>Things you need to know</h3>
                <hr/>
            </div>
        </div>
        <div class="row animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="applying-wrapper">
                    <i class="ion-clock"></i>
                    <h3>Attendance</h3>
                    We raid Wednesday/Sunday/Monday from 19:45 - 23:00. We expect you to show up prior to the raid and stay online throughout its duration. We use players rotation system so that to ensure the best raid composition for the encounter.
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="applying-wrapper">
                    <i class="ion-checkmark-round"></i>
                    <h3>Commitment</h3>
                    You must possess a positive attitude towards raiding, especially when it comes to progress raiding. You should be prepared to do everything it takes to maximise your characters effectiveness on the encounter(s). 
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="applying-wrapper">
                    <i class="ion-mic-a"></i>
                    <h3>Communication</h3>
                    Communication during a raid encounter is often important. Whilst you are not required to be speaking every second of an encounter. You should be able to speak and understand English to a reasonable level.
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="applying-wrapper">
                    <i class="ion-battery-charging"></i>
                    <h3>Preparing</h3>
                    Raiders must bring with them best supply of runes, flasks, potions and food available and should have a good overview of all the boss fights.
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="applying-wrapper">
                    <i class="ion-happy-outline"></i>
                    <h3>Theorycrafting</h3>
                    We love to analyze our logs and improve our game. Even if you're not in to logs, we can help. You should always work to improve yourself.
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="applying-wrapper">
                    <i class="ion-person-add"></i>
                    <h3>Questions</h3>
                    For further information feel free to add Khan#21626 or hyphyp#2664 on battle.net or reach us in-game.
                </div>
            </div>
            <div class="text-center">
                <a href="{{ url_for('apply') }}" class=" btn button-custom btn-custom-two">APPLY HERE</a>
            </div>
        </div>
    </div>
</section>
<!--SERVICE SECTION END-->
{% endblock %}
