{% extends "layout.html" %}
{% block body %}
<!--MENU SECTION START-->
<div class="navbar navbar-inverse navbar-fixed-top scroll-me" id="menu-section">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('home') }}"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('home') }}#home">HOME</a></li>
                <li><a href="{{ url_for('home') }}#grid">ABOUT US</a></li>
                <li><a href="{{ url_for('home') }}#gallery">GALLERY</a></li>
                <li><a href="{{ url_for('home') }}#team">TEAM</a></li>
                <li><a href="{{ url_for('home') }}#applying">APPLYING</a></li>
            </ul>
        </div>
    </div>
</div>
<!--MENU SECTION END-->
<section id="login">
    <div class="container">
        <div class="row text-center header animate-in">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2>Login</h2>
                {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
                <form action="{{ url_for('login') }}" method=post>
                    <dl>
                        <dt>Username:
                        <dd><input type=text name=username class="form">
                        <dt>Password:
                        <dd><input type=password name=password class="form">
                        <dd><input type=submit value=Login class=" btn button-custom btn-custom-two">
                    </dl>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}